@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

.headerfix {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  font-weight:bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media (max-width: 730px) {
  .d-md-none {
    display: block !important;
  }

  .d-md-flex {
    display: none !important;
  }

  .d-block {
    display: block;
  }

  .d-none {
    display: none;
  }
}
.bestseller-product {
  padding-top: 20px;
  padding-bottom: 20px;
}
 li a{
text-decoration: none !important;
/* color:#fff !important; */
}
a{
  text-decoration: none !important;
}
/* .btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #dc3545;
  border-color: #ea868f;
} */
.btnprimary{
  background-color: #636161 !important;
  border-color: rgb(65, 69, 102) !important;
}
.btnprimary:hover {
  background-color: #000!important;
  border-color: rgb(101, 112, 196) !important;
}

.bg-dangers {
  --bs-bg-opacity: 1;
  background-color: #636161 !important;
}

.box{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* Add this to your CSS file or in the component's style */
.image-container {
  position: relative;
  overflow: hidden; /* Ensure the image stays within the container bounds */
}

.image-container img {
  transition: transform 0.3s ease; /* Smooth transition */
}

.image-container:hover img {
  transform: scale(1.1); /* Zoom effect */
}
